@import url(https://fonts.googleapis.com/css?family=Quicksand:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);
@import "bootstrap";




body, html {
    height: 100%;
    background-color: #353a3f;
}

h1.head {
    color: #343a40;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 42px;
}
h2.bar {
    background-color: #343a40;
    color: rgb(240, 231, 231);
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
}
h3.sub {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 21px;
}
p {
    font-family: "Raleway", sans-serif;
}

a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

li {
    font-family: "Raleway", sans-serif;
    font-style: italic;
}

.border {
    top: 4px solid black;
    bottom: 4px solid black;
}

.slogan {
    position: relative;
    top: 25%;
    width: 28em;
    height: 150px;
    padding: 10px; 
}
.intro-2 {
    background: url("../images/memorial.png");
    background-size: cover;
    height: 100%;
    max-width: 100%;
    background-position: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen {
    background-color: rgba(255,255,255,0.3);
}
@media (min-width: map-get($grid-breakpoints, sm)){
    h1.head {font-size: 40px;}
    h3.sub {font-size: 28px;}
    .slogan {
    position: relative;
    background-color: rgba(255,255,255,0.8);
    top: 0%;
    left: 0%;
    width: 28em;
    height: 150px;
    padding: 10px;}
}

/* @media (min-width: map-get($grid-breakpoints, md)){
  .something {
    padding: 20px;
   }
} */

  /* around 992 px */
    /* @media only screen and (min-width: 992px) {
        h1.head {font-size: 40px;}
        h3.sub {font-size: 28px;}
        .slogan {
        position: relative;
        background-color: rgba(255,255,255,0.3);
        top: 5%;
        left: 3%;
        width: 28em;
        height: 150px;
        padding: 10px; 
        } 
}  */
     /* around 768 px*/
     /* @media only screen and (min-width: 768px) {
        h1.head {font-size: 40px;}
        h3.sub {font-size: 28px;}
        .slogan {
        position: relative;
        background-color: rgba(255,255,255,0.3);
        top: 5%;
        left: 3%;
        width: 28em;
        height: 150px;
        padding: 10px;}
} */
    /* around 544 px*/
    /* @media only screen and (min-width: 544px) { 
        h1.head {font-size: 40px;}
        h3.sub {font-size: 28px;}
        .slogan {
        position: relative;
        background-color: rgba(255,255,255,0.3);
        top: 5%;
        left: 3%;
        width: 28em;
        height: 150px;
        padding: 10px;}
    } */