@import url(https://fonts.googleapis.com/css?family=Quicksand:300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);
@import "bootstrap";

body, html {
    height: 100%;
    /* background-color: #353a3f; */
    margin:0;
    font-family:Arial;
    }
.blog-bg {
    background-color: white; 
}
h1 {
    color: #343a40;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 42px;
    }
h1.head {
    color: #343a40;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 42px;
    }
h1.shadow {
    color: #343a40;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 42px;
    text-shadow: 2px 2px 4px #f8f9dd;
    }
h2 {
    color: #f8f9dd;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    }
a.brand {
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    color: #f8f9dd;
    } 
h2.title {
    background-color: white;
    color: #343a40;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    }
h2.bar {
    background-color: #343a40;
    color: rgb(240, 231, 231);
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    }
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 21px;
    }
h3.sub {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 21px;
    }
h3.portlink {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 21px;
    color: #1b569e;
    margin-bottom: -5px;
    }
h3.content {
    font-family: "Raleway", sans-serif;
    background-color: #e9e3d4;
    font-weight: bolder;
    font-size: 21px;
    color: #1b569e;
    padding: 8px;
    }
h5.portlink {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #7491b4;
    }
/* used on content page for cat pics */
img.circle {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding-top: 8px;
    padding-right: 10px;    
    padding-bottom: 10px;
    }
img.square {
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;    
    padding-bottom: 10px;
    }
p {
    font-family: "Raleway", sans-serif;
    }
/* interior blog pages*/
p.first {
    font-family: "Raleway", sans-serif;
    color: #353a3f;
    font-weight: bold;
    }
/* a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    }
a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #343a40;
    } */
span.ital {
    font-family: "Raleway", sans-serif;
    font-style: italic;
  }
li {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    }
li.content {
    font-family: "Raleway", sans-serif;
    font-style: oblique;
    margin-left: 5px;
    list-style-position: inside;
    list-style-type: square;
    }
.border {
    top: 4px solid black;
    bottom: 4px solid black;
    }

.slogan {
    position: relative;
    top: 25%;
    width: 28em;
    height: 150px;
    padding: 10px; 
    }
.intro-2 {
    background: url("../images/memorial.png");
    background-size: cover;
    height: 100%;
    max-width: 100%;
    background-position: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    }
.header {
    position: relative;
    margin-top: 22%;
    }
.screen {
    background-color: rgba(255,255,255,0.3);
    }
/* .nav-bg {
    background-color: #343a40;
    } */

/* text links other than nav bar */
a.blue:hover, a.blue:active {
    color: #3268a8;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    }
a.blue:link, a.blue:visited {
    color: #3268a8;
    text-decoration: none;
    font-size: 100%;
    }
hr {
    width: 50%;
    padding: 6px;
    margin-left: 60px;
    }

/* footer styles */
/* site and and site-content are sticky footer enabling */
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
      
.Site-content {
    flex: 1;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f8f9dd;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    }
a.footer:link {
    color: #f8f9dd;
    textdecoration: none;
    font-size: 100%;
} 
a.footer:visited {
    color: #f8f9dd;
    text-decoration: none;
    font-size: 100%;
}
a.footer:hover {
    color: #867852;
    text-decoration: none;
    font-size: 100%;
}
